In [14]:
import streamlit as st
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({
    'col1': [i for i in range(1, 5)],
    'col2': [i for i in range(10, 41, 10)]
})

df

   col1  col2
0     1    10
1     2    20
2     3    30
3     4    40

In [13]:
st.write("Here is my first attempt at using data create a table:")
st.write(pd.DataFrame({
    'col1': [i for i in range(1, 5)],
    'col2': [i for i in range(10, 41, 10)]
}))

In [28]:
dataframe = np.random.randn(10, 20)
st.dataframe(dataframe)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [33]:
dataframe = pd.DataFrame(
    np.random.randn(10, 20),
    columns = ('col_%d' %i for i in range(20)))
st.dataframe(dataframe.style.highlight_max(axis=0))
# st.table(dataframe)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [32]:
dataframe

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19
0,0.992857,0.585790,-1.233423,-0.413308,1.534469,-1.942677,0.635014,-0.750313,1.473570,-1.085817,0.762038,-1.775640,0.500661,-1.966739,1.008022,0.321527,-0.608002,0.373733,-0.296899,-1.071913
1,-1.899337,-0.683006,0.269096,1.432236,1.415886,0.959365,0.242241,-0.303017,-0.050097,0.897241,-0.417418,-0.746644,-0.986138,-0.776868,-0.678778,-0.459446,-0.033740,-0.265704,1.335525,0.474246
2,1.380766,0.765979,-0.202621,-1.656848,-0.020043,-0.959573,0.064401,-0.250357,-1.479781,-0.224147,1.577846,1.215825,-0.036519,-0.541390,0.206375,0.013241,-0.749699,-0.039999,0.234337,-0.897899
3,-1.240114,1.788665,0.572495,0.516501,1.460106,2.210783,1.491849,-1.479954,-0.883481,0.219445,0.104246,0.657693,0.549317,0.735381,-0.359251,0.105360,1.001471,0.117973,-0.180925,0.480828
4,1.962710,0.817886,-1.999209,0.576385,1.407327,1.698296,-0.650092,1.817380,-0.471413,0.568186,0.214445,-0.350829,1.648674,0.233908,0.818874,0.127613,-1.705891,1.170683,0.093363,-0.852861
5,-1.135927,1.759681,0.311866,-2.248233,-1.282207,0.222342,-0.952203,0.096871,-0.368723,0.711826,-0.134185,-0.275498,1.078508,-0.370942,0.000628,-0.019784,-1.821353,-0.730839,0.659704,0.467708
6,0.687826,-1.911006,0.696553,0.002852,0.372922,-0.118436,0.467345,-0.391330,0.118741,-0.370766,0.517388,-1.449924,0.593339,0.793625,-1.272498,-0.509196,1.676488,-0.921568,-1.227471,-0.063643
7,1.155454,1.397019,-0.793373,0.954229,-1.595048,-0.410746,-0.358307,-1.977884,-0.954363,0.351054,1.090244,-2.025963,0.327036,-1.051479,-0.532108,0.000753,0.932544,1.072098,0.084014,0.034442
8,0.125462,0.629513,-1.435450,0.914392,0.748033,0.176121,-1.015104,1.101506,0.215963,0.127363,-0.000747,0.279081,-0.151119,0.212576,0.909441,0.399583,1.036575,-0.601406,-1.080523,-0.584995
9,0.292165,0.614866,0.312358,0.796369,-0.821471,-0.214026,-1.779262,0.679796,0.003880,0.859297,-0.517474,-0.059233,-1.811284,-1.455197,0.045747,-1.084018,0.586587,-2.030139,-0.135033,1.276455

In [34]:
dataframe

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19
0,1.631087,0.002475,-0.782044,-0.042491,-0.652785,1.061559,0.546974,0.167913,0.324082,-2.290350,-1.290394,-0.025191,-0.257501,0.513399,1.245881,1.726298,-0.690173,0.733225,-0.854712,0.089786
1,1.184922,1.003541,1.757532,2.138710,-0.786488,0.872757,0.623963,0.571701,-0.234328,-0.076817,0.447135,-0.336178,-0.512511,0.522824,0.195228,0.662423,0.375649,1.004003,0.665113,-0.184820
2,-1.320522,-0.122917,-0.287316,-0.035524,-0.922798,-0.520319,0.912948,-2.048146,0.042218,-0.851087,-0.125444,1.746107,-1.163781,-0.270409,0.688017,1.101588,-0.286757,-1.863388,-1.893591,0.129907
3,1.136968,-1.279780,0.515376,1.210019,1.436127,-0.214831,-0.223850,-0.850395,-0.098726,-0.644856,-0.410237,0.573656,2.089327,0.827876,-1.133487,0.169390,-1.592061,0.989164,-0.362434,0.688736
4,1.360597,-1.880711,-1.677393,-0.344127,-1.726709,-0.751289,0.024863,-0.392666,0.718249,1.348462,1.054240,-0.506801,1.027438,0.275235,0.063729,0.534582,0.299419,1.778953,-1.417772,0.584250
5,-0.132552,-1.627509,1.455606,-0.187404,-2.054441,0.385635,-0.235524,-1.057575,0.751469,-1.422012,0.306953,0.642902,-0.620989,-0.216955,-0.259009,-0.468369,-0.798782,-1.403767,-0.202862,0.375585
6,0.787595,1.392508,-0.384371,-1.477232,-0.458279,0.783195,0.248373,1.356791,-0.324732,-0.359165,0.133594,-1.636059,1.412176,0.329950,0.838902,-0.247857,-0.660587,-0.047220,-1.865016,-1.384880
7,0.620343,-0.984926,0.360845,0.877774,0.509254,0.354450,0.791867,0.805930,-0.155293,-0.029771,-2.268789,-0.808263,0.934495,0.298444,0.249920,-0.741057,-1.051689,0.734775,-0.150436,-1.693652
8,-0.715681,-0.666229,-0.591908,-0.172148,-0.241186,-0.678230,0.491335,1.745077,-1.041789,-0.109596,-1.842951,1.220005,0.499218,0.777805,0.985904,-1.212760,0.536248,-1.550623,1.211118,-0.635016
9,-0.783282,-0.000053,3.273878,-1.675608,-1.034784,1.201614,0.450157,0.316372,0.333273,-2.229827,-0.767303,0.271097,0.554910,-0.259440,-0.351899,-2.314932,1.882486,0.194431,-0.165625,3.392174

## Draw a line chart

In [37]:
chart_data = pd.DataFrame(
    np.random.randn(20, 3),
    columns = ['a', 'b', 'c']
)    
st.line_chart(chart_data)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

## Plot a map

In [38]:
map_data = pd.DataFrame(
    np.random.randn(1000, 2) / [50, 50] + [37.76, -122.4],
    columns = ['lat', 'lon']
)    
st.map(chart_data)

StreamlitAPIException: Map data must contain a column named "latitude" or "lat".

## Draw a line chart

## Draw a line chart